<div id="bodyContainer">
	
</div>


<script>
  //var read = function () { console.log("read"); };
  //var story = function (storyId) { console.log(storyId); };
  var readChapter = function (storyId, chapterId) {
    console.log("readChapter: " + storyId + " - " + chapterId);
    reader.storyId = storyId;
    reader.chapterId = chapterId;
    reader.initialize();
    reader.loadChapter(reader.storyId, reader.chapterId);
    window.scrollTo(0, 0);
  };

  var routes = {
  //'/:storyId': story,
  '/:storyId/:chapterId': readChapter
  };

  var router = Router(routes);

  router.init();
</script>

<script id="body-template" type="text/x-handlebars-template">
	<div class="readBody">
		<div class="row">
			<div class="small-12 columns">
				<div class="title">
					<!--if it's the first chapter, show a title card.  Otherwise just
					put the title and author in a single row at the top-->
					\{{#if readStory.readChapter.firstChapter}}
					<h1>\{{{readStory.title}}}</h1>
					by \{{readStory.author}}
					<hr>	
					\{{else}}
					<!--<div class="row titleAuthor">
						<div class="small-8 columns">
							<span class="float-left"><h5>\{{{readStory.title}}}</h5></span>
						</div>
						<div class="small-4 columns">
							<span class="float-right">\{{readStory.author}}</span>
						</div>						
					</div>-->
					<div class="row titleAuthor">
						<div class="small-12 columns">
							<h5>\{{{readStory.title}}}</h5>
							<!--\{{readStory.author}}-->
						</div>
					</div>
					\{{/if}}
				</div>			
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				\{{#with readStory.readChapter}}
					<article>
						<h1 id="chapterTitle">\{{{title}}}</h1>
						<span id="chapterBody">\{{{body}}}</span>
					</article>
				\{{/with}}			
			</div>
		</div>
	</div>
	{{debug readStory.readChapter.prevIndex false}}
	<div class="row" id="pageNav">
		<div class="small-6 columns">
			\{{#if readStory.readChapter.prevIndex}}
			<a href="/read/chapter#\{{readStory._id}}/\{{readStory.readChapter.prevIndex}}">&#8592; Prev</a>
			\{{/if}}			
		</div>
		<div class="small-6 columns float-right">
			\{{#if readStory.readChapter.nextIndex}}
			<a class="float-right" href="/read/chapter#\{{readStory._id}}/\{{readStory.readChapter.nextIndex}}">Next &#8594;</a>
			\{{/if}}			
		</div>	
	</div>		
</script>



